<section class="page-section ">
    <div class="container page-section__container">
        <div class="column page-section__content">
            <h2 class=" __title page-section__title "> </h2>
            <p class="__description page-section__description"> </p>
            <div class=" __button page-section__button">
                <button class="button button--accent" type="button"> </button>
            </div >
        </div>

        <div class="decorative-border decorative-border--left">
            <img class="__img" src="" width="" height="" alt="">
        </div>

    </div>
</section>
