<!--section--theme-accent-->
<section class="edu-format page-section page-section--theme-accent">
    <div class="container flex-container">
        <div class="edu-format__decorative-border  decorative-border decorative-border--right">
            <img class="edu-format__img" src="" alt="">
        </div>
        <div class="column page-section__content">
            <h2 class="edu-format__title primary-title"> </h2>
            <p class="edu-format__description basic-text"> </p>

            <button class="button edu-format__button" type="button"></button>
        </div>
    </div>
</section>
