<!--basic section-->
<section class="page-section">
    <div class="container page-section__container">
        <div class="page-section__content">
            <h2 class="page-section__title"> </h2>
            <p class="page-section__description"> </p>
        </div>
        <div class="page-section__button">
            <button class="button" type="button"> </button>
        </div>
</div>
</section>

<!--section--theme-accent-->
<section class="page-section page-section--theme-accent">
    <div class="container page-section__container">
        <div class="page-section__img"></div>
        <div class="page-section__content">
            <h2 class="page-section__title"> </h2>
            <p class="page-section__description page-section__description--theme-accent"></p>
            <div class="page-section__button">
                <button class="button button--accent" type="button"></button>
            </div>
        </div>
    </div>
</section>
