<section class="courses page-section container flex-container">
    <div class="page-section__content  courses__content column">
        <h2 class="primary-title courses__title">Популярные курсы</h2>
        <ul class="courses__list list-reset">
            <li class="courses__item courses__card">
                <img class="courses__img" src="img/courses/motion.png" width="230" height="155" alt="Motion design">
                <a class="courses__link" href="#">Motion design</a>
            </li>

            <li class="courses__item courses__card">
                <img class="courses__img" src="img/courses/target.png" width="230" height="155" alt="Таргет в Instagram">
                <a class="courses__link" href="#">Таргет в Instagram</a>
            </li>

            <li class="courses__item courses__card">
                <img class="courses__img" src="img/courses/presentation.png" width="230" height="155" alt="Эффектные презентации">
                <a class="courses__link" href="#">Эффектные презентации</a>
            </li>

            <li class="courses__item courses__card">
                <img class="courses__img" src="img/courses/smm.png" width="230" height="155" alt="SMM-стратегия">
                <a class="courses__link" href="#">SMM-стратегия</a>
            </li>
        </ul>
        <button class="button button--accent courses__button" type="button">Все курсы</button>
    </div>
</section>
