<!--basic section-->
<section class="page-section">
    <div class="container page-section__container">
        <div class="page-section__content">
            <h2 class="page-section__title"> </h2>
            <p class="page-section__description"> </p>
        </div>
        <div class="page-section__button">
            <button class="button" type="button"> </button>
        </div>
</div>
</section>

<!--section--theme-accent-->
<section class="page-section page-section--theme-accent">
    <div class="container page-section__container">
        <div class="column page-section__img border-img--left">
            <div class=" __img border-img--shift-right border-img--primary cropping-top-right-lg">
                <img class=" __img border-img__img-left cropping-top-right-lg" src=" " width=" " height=" " alt="">
            </div>
        </div>

        <div class="column page-section__content">
            <h2 class=" __title page-section__title "> </h2>
            <p class="__description page-section__description"> </p>
            <div class=" __button page-section__button">
                <button class="button button--lg" type="button"> </button>
            </div >
        </div>

        <div class="column page-section__img border-img--right ">
            <div class=" __img border-img--shift-left border-img--primary cropping-top-left-lg">
                <img class=" __img border-img__img-right  cropping-top-left-lg" src=" " width=" " height=" " alt="">
            </div>
        </div>

    </div>
</section>


<section class="page-section page-section--theme-accent relevance">
    <div class="container page-section__container relevance__container">

        <div class="column border-img--left page-section__img">
        <div class="relevance__img border-img--shift-right border-img--primary cropping-top-right-lg">
            <img class="relevance__img border-img__img-left cropping-top-right-lg" src="img/section/relevance.jpg" width="540" height="286" alt="">
        </div>
        </div>

        <div class="column page-section__content ">

            <h2 class="page-section__title">Выбирайте свой формат обучения</h2>
            <!-- <h2 class="page-section__title">Актуальные знания</h2> -->
            <p class="page-section__description page-section__description--theme-accent">Мы понимаем, как быстро меняются тренды и появляются обновления. Поэтому мы всегда следим за всеми новинками, добавляем в программу то, что требуют топовые компании.<br> Мы предлагаем вам только актуальные знания, чтобы вы были впереди планеты всей. </p>
            <!-- <p class="page-section__description relevance__description">Мы понимаем, как быстро меняются тренды и появляются обновления. Поэтому мы всегда следим за всеми новинками, добавляем в программу то, что требуют топовые компании.<br> Мы предлагаем вам только актуальные знания, чтобы вы были впереди планеты всей. </p> -->

            <div class="page-section__button promo__button">
                <button class="button button--lg" type="button">Купить курс</button>
            </div >
        </div>
    </div>
</section>
