<!--section--theme-accent-->
<section class="page-section page-section--theme-accent">
    <div class="container page-section__container">
        <div class="column page-section__img border-img--left">
            <div class=" __img border-img--shift-right border-img--primary cropping-top-right-lg">
                <img class=" __img border-img__img-left cropping-top-right-lg" src=" " width=" " height=" " alt="">
            </div>
        </div>

        <div class="column page-section__content">
            <h2 class=" __title page-section__title "> </h2>
            <p class="__description page-section__description"> </p>
            <div class=" __button page-section__button">
                <button class="button button--lg" type="button"> </button>
            </div>
        </div>
    </div>
</section>
