<section class="statistis page-section">
    <div class="container">
        <dl class="statistics__list list-reset">
            <div class="statistics__item">
                <dt class="statistics__indicator"></dt>
                <dd class="statistics__description"></dd>
            </div>

            <div class="statistics__item">
                <dt class="statistics__indicator"></dt>
                <dd class="statistics__description"></dd>
            </div>

            <div class="statistics__item">
                <dt class="statistics__indicator"></dt>
                <dd class="statistics__description"></dd>
            </div>

            <div class="statistics__item">
                <dt class="statistics__indicator"></dt>
                <dd class="statistics__description"></dd>
            </div>
        </dl>
    </div>
</section>
