<section class="courses page-section">
    <div class="container page-section__container courses__container">
        <div class="page-section__content  courses__content column">
            <h2 class="page-section__title courses__title">Популярные курсы</h2>
            <ul class="courses__list list-reset">

                <li class="courses__item courses__card">
                    <img class="courses__img" src="" width="230" height="155" alt="">
                    <a class="courses__link" href="#"></a>
                </li>

            </ul>

            <div class="courses__button page-section__button">
                <button class="button button--accent button--lg" type="button">Все курсы</button>
            </div>
        </div>
    </div>
</section>
