.decorative-border {
  position: relative;
  align-self: flex-end;
}

.decorative-border::before {
  position: absolute;
  content: "";
  width: 100%;
  height: calc(100% - 4px);
  top: -30px;
  border: 2px dashed #FDFDFD;
}

.decorative-border--left::before {
  left: -30px;
  border-radius: 120px 0px 0px 0px;
  opacity: 1;
}

.decorative-border--right::before {
  right: -30px;
  border-radius: 0px 120px 0px 0px;
  opacity: 1;
}
