.button {
  display: inline-block;
  padding: 10px 20px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #fdfdfd;
  text-decoration: none;
  border: none;
  background-color: #fa9f42;
}

.button--accent {
  background-color: #10b582;
}

.button--lg {
  width: 230px;
  min-height: 56px;
  border-radius: 0 20px;
}
