<!-- shifting left  -->
<div class="border-img--left">
    <div class=" __img page-section__img--left border-img--shift-right border-img--primary cropping-top-right-lg">
        <img class=" __img border-img__img-left cropping-top-right-lg" src=" " width=" " height=" " alt="">
    </div>
</div>
<!-- shifting right  -->
<div class="border-img--right">
    <div class="__img page-section__img--right border-img--shift-left border-img--primary cropping-top-left-lg">
        <img class="__img border-img__img-right cropping-top-left-lg" src=" " width=" " height=" " alt="">
    </div>
</div>
