.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  line-height: 0;
}

.clear-fix {
  font-size: 0;
  line-height: 0;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
