.page-section {
  margin-bottom: 120px;
}

.page-section--theme-accent {
  padding: 120px 0;
  color: #FDFDFD;
  background-color: #10B582;
}

.page-section__container {
  display: flex;
  justify-content: space-between;
}

.page-section__content {
  width: 540px;
}

.page-section__title,
.page-section__description {
  margin: 0;
  padding: 0;
}

.page-section__title {
  font-weight: 500;
  font-size: 58px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.page-section__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

.page-section__description--theme-accent {
  line-height: 1.5;
}

.page-section__description:last-of-type{
  margin-bottom: 50px;
}

 .page-section__img {
   flex-direction: column-reverse;
}
