.social-media {
  display: flex;
  justify-content: space-between;
}

.social-media--vertical {
  flex-direction: column;
  width: 22px;
  height: 126px;
}

.social-media__link {
  text-decoration: none;
}

.social-media__img {
  fill: rgba(53, 58, 90, 0.3);
}

.social-media__img:hover {
  fill: #FA9F42;
}

.social-media__img--theme-light {
  fill: #FDFDFD;
}

