.promo {
  padding-top: 55px;
}

.promo__container {
  min-height: 560px;
}

.promo__content {
  justify-content: center;
  text-align: center;
  padding-top: 62px;
}

.promo__img {
  position: relative;
  width: 240px;
  height: 300px;
}

.promo__decorative-border {
  position: relative;
  width: 240px;
  height: 300px;
}

.promo__decorative-border--right::before {
  border-radius: 0px 80px 0px 0px;
}

.promo__decorative-border--left::before {
  border-radius: 80px 0px 0px 0px;
}

.promo__link-down {
  writing-mode: vertical-rl;
  align-self: flex-end;
  padding-bottom: 30px;
  background: url("../../../img/arrow/down.svg") no-repeat center bottom;
}

.promo__link-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #fdfdfd;
  text-decoration: none;
}

.promo__button {
  align-self: center;
}
