.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  line-height: 0;
}

.reset {
  font-size: 0;
  line-height: 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.primary-title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 58px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.subtitle {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
}

.basic-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}
