@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:  local('Muller'),
        local('Muller Regular'),
        url("../fonts/MullerRegular.woff2") format("woff2"),
        url("../fonts/MullerRegular.woff") format("woff");
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:  local('Muller'),
        local('Muller Bold'),
        url("../fonts/MullerBold.woff2") format("woff2"),
        url("../fonts/MullerBold.woff") format("woff");
}

@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:  local('Russo One'),
        url("../fonts/RussoOne-Regular.woff2") format("woff2"),
        url("../fonts/RussoOne-Regular.woff") format("woff");
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --light-bg-color: #ffffff;
  --dark-bg-color: #07060B;
  --accent-bg-color: #D13130;
  --accent-seconary-color: #FF6F6F;;
  --bg-card: #EDEDF2;
  --bg-aside: #37373E;
  --primary-btn-color: #46F4DB;
  --primary-btn-active-color: #57D272;
  --btn-gradient: linear-gradient(180deg, #46F4DB 27.08%, #57D272 100%);
  --btn-reversed-gradient: linear-gradient(0deg, #46F4DB 27.08%, #57D272 100%);
  --form-text-color: #95959D;
  --form-input-text: #717178;
  --bradius-primery: 40px;
  --bradius-secondary: 23px;
  --btn-primary-border: 5px solid #46F4DB;
  --primary-transition: .4s ease-in-out;
  --primary-gap: 32px;
  --seconary-gap: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0 );
}

.clear-fix {
  font-size: 0;
  line-height: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  line-height: 0;
  list-style: none;
}

body {
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--dark-bg-color);
  background-color: var(--light-bg-color);
}

.container {
  margin: 0 auto;
  padding: 0 12px;
  max-width: 1304px;
}

/* buttons */
.btn-reset {
  display: inline-block;
  font: inherit;
  color: inherit;
  padding: 0;
  border: none;
  cursor: pointer;
}

.btn-center {
  text-align: center;
}

.btn {
  position: relative;
  display: inline-block;
  font: inherit;
  cursor: pointer;
  padding: 25px 54px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #07060B;
  background-color: var(--primary-btn-color);
  border: none;
  outline: none;
  border-radius: var(--bradius-primery);
  transition: background-color var(--primary-transition), border-color var(--primary-transition);
}

.btn:focus {
  outline: 2px solid var(--primary-btn-active-color);
  outline-offset: 6px;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: inherit;
  background: linear-gradient(180deg, #46F4DB 27.08%, #57D272 100%);
  opacity: 0;
  transition: opacity  var(--primary-transition);
  pointer-events: none;
}

.btn::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: inherit;
  background-color: var(--primary-btn-active-color);
  opacity: 0;
  transition: opacity var(--primary-transition);
}

.btn:focus-visible::before,
.btn:focus::before {
  opacity: 1;
}

.btn:hover::before {
  opacity: 1;
}

.btn:active::after  {
opacity: 1;
}

.btn__text {
  position: relative;
  z-index: 5;
}

.btn--stroke {
  position: relative;
  padding: 5px;
}

.btn--stroke .btn__text {
  display: inline-block;
  padding: 20px 49px;
  border-radius: inherit;
  background-color: var(--light-bg-color);
  transition: color var(--primary-transition), background-color var(--primary-transition);
}

 .btn--stroke::before {
  background: var(--primary-btn-color);
}

.btn--stroke:focus .btn__text {
  background-color: transparent;
}

.btn--stroke:focus::before {
  opacity: 1;
}

.btn--stroke:hover .btn__text {
  background-color: transparent;
}

.btn--stroke:hover::before {
  opacity: 1;
}

.btn--accent {
  background: var(--btn-reversed-gradient);
  transition: background var(--primary-transition);
}

.btn--stroke--accent {
  background: linear-gradient(180deg, #46F4DB 27.08%, #57D272 100%);
}

.btn--stroke--accent .btn__text {
  color: var(--light-bg-color);
  background-color: var(--dark-bg-color);
  transition: color var(--primary-transition), background-color var(--primary-transition);
}

.btn--stroke--accent::before {
  background: var(--btn-gradient);
  transition: opacity var(--primary-transition);
}

.btn--stroke--accent::after {
  background-color: var(--primary-btn-color);
  transition: opacity var(--primary-transition);
}

.btn--stroke--accent:focus .btn__text {
  color: var(--color-dark);
  background-color: transparent;
}

.btn--stroke--accent:focus::after{
  opacity: 1;
}

.btn--stroke--accent:hover .btn__text {
  color: var(--dark-bg-color);
  background-color: transparent;
}

/* form */
.form-input {
  display: block;
  padding: 25px 32px;
  width: 100%;
  height: 70px;
  font-size: 20px;
  line-height: 20px;
  color: var(--form-input-text);
  background-color: var(--bg-card);
  border: none;
  border-radius: var(--bradius-primery);
}

.form-input--accent {
  color: var(--bg-card);
  background-color: var(--dark-bg-color);
}

.form-input--accent::placeholder {
  color: var(--bg-card);
}

.form-input:focus {
  outline: none;
  background-color: transparent;
  border: 2px solid var(--bg-card);
}

.form-input--accent:focus {
  border-color: var(--dark-bg-color);
}

.form-input--accent:focus.form-input--accent::placeholder {
  background-color: transparent;
  color: var(--dark-bg-color);
}

.form-input--invalid {
  position: relative;
  border: 2px solid var(--accent-seconary-color);
  background-color: transparent;
}

.form-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 342px;
}

.form-upload__input {
  position: absolute;
  opacity: 0;
  appearance: none;
  z-index: -1;
}

.form-upload__icon {
  position: relative;
  top: -4px;
  width: 100px;
  height: 100px;
  margin-bottom: 17px;
  background-color: var(--light-bg-color);
  border: 2px solid transparent;
  border-radius: 100%;
  transition: border-color var(--primary-transition);
}

.form-upload__icon::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 40px;
  height: 6px;
  background-color: var(--bg-card);
  transform: translate(-50%, -50%);
  transition: background-color var(--primary-transition);
}

.form-upload__icon::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 6px;
  height: 40px;
  background-color: var(--bg-card);
  transform: translate(-50%, -50%);
  transition: background-color var(--primary-transition);
}

.form-upload__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--form-text-color);
}

.form-upload:focus-within .form-upload__icon::before,
.form-upload:focus-within .form-upload__icon::after {
  background-color: var(--primary-btn-color);
}

.form-upload:focus-within .form-upload__icon {
border-color: var(--primary-btn-color);
}

.form-upload:hover .form-upload__icon::before,
.form-upload:hover .form-upload__icon::after {
  background-color: var(--primary-btn-color);
}

.form-upload:hover .form-upload__icon {
border-color: var(--primary-btn-color);
}

.form-upload:active .form-upload__icon::before,
.form-upload:active .form-upload__icon::after {
  background-color: var(--primary-btn-active-color);
}

.form-upload:active .form-upload__icon {
border-color: var(--primary-btn-active-color);
}
/* navigation */
.nav-list {
  display: flex;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 32px;
}

.nav-link {
  font-weight: 700;
  transition: color var(--primary-transition);
}

.page-section {
  margin-bottom: 90px;
}

.sticker-onwer {
  display: inline-flex;
  align-items: center;
}

.userpic {
  overflow: hidden;
  border-radius: 100%;
}

.userpic--middle {
  width: 48px;
  height: 48px;
}

.userpic--small {
  width: 24px;
  height: 24px;
}

.sticker-onwer .userpic--middle {
  margin-right: calc(var(--primary-gap)/2);
}

.sticker-onwer .userpic--small {
  margin-right: calc(var(--primary-gap)/4);
}

.username {
  margin: 0;
  font-weight: 700;
}

.username--middle {
  font-size: 20px;
  line-height: 20px;
}

.username--small {
  font-size: 16px;
  line-height: 16px;
}

.regular-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: var(--seconary-gap);
}

.text-accent {
  color: var(--form-text-color);
}

.page-section__title {
  margin: 0;
  padding: 0;
  margin-bottom: var(--primary-gap);
  font-family: 'Russo One', sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 1.2;
}

.secondary-title {
  margin: 0;
  padding: 0;
  margin-bottom: var(--seconary-gap);
  font-family: 'Russo One';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
/* header */
.header {
  padding: 15px 0;
  background-color: var(--light-bg-color);
}

.header__container {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 0;
  line-height: 0;
}

.header__logo {
  margin-right: 64px;
}

.header__nav {
  margin-right: auto;
}

.main-nav__link:focus {
  outline: 2px solid var(--primary-btn-active-color);
  outline-offset: 6px;
}

.main-nav__link:hover {
  color: var(--primary-btn-color);
}

.main-nav__link:active {
  color: var(--primary-btn-active-color);
}

.header__btn {
  padding: 17px 31px;
  font-family: 'Muller';
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: var(--bg-card);
  background-color: var(--dark-bg-color);
  border-radius: 77px;
  transition: background-color var(--primary-transition), color var(--primary-transition);
}

.header__btn:focus {
  outline: 2px solid var(--primary-btn-active-color);
  outline-offset: 6px;
}

.header__btn:focus-visible,
.header__btn:hover {
  border: none;
  color: var(--dark-bg-color);
  background-color: var(--primary-btn-color);
}

.header__btn:active {
  color: var(--dark-bg-color);
  background-color: var(--primary-btn-active-color);
}

/* hero section */
.hero {
  height: 680px;
  background-color: var(--dark-bg-color);
  background-image: url(../img/stickers_hero.png);
  background-repeat: no-repeat;
  background-position: top right;
}

.hero__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__description {
  width: 50%;
  align-self: start;
}

.hero__title {
  margin-bottom: 36px;
  font-size: 70px;
  line-height: 84px;
  color: var(--light-bg-color);
}

.hero__buttons{
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.hero__btn:not(:last-child) {
  margin-right: var(--primary-gap);
}

/* auction  section */
.auction-promo__title {
  display: inline-flex;
  align-items: center;
}

.auction-promo__title-status {
  display: inline-flex;
  align-items: center;
  padding: 8px 15px;
  padding-left: 13px;
  font-family: 'Muller', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: var(--accent-bg-color);
  border: 2px solid currentColor;
  border-radius: var(--bradius-primery);
  transform: translateX(16px);
}

.auction-promo__title-status::before {
  content: "";
  border-radius: 100%;
  margin-right: 7px;
  width: 6px;
  height: 6px;
  background-color: currentColor;
}

.auction-promo__content {
  display: flex;
}

.auction-promo__img {
  min-width: 460px;
  margin-right: var(--primary-gap);
}

.auction-promo__desription {
  width: calc(100% - 460px - var(--primary-gap));
}

.auction-promo__onwer {
  padding: 11px 16px;
  margin-bottom: var(--primary-gap);
  background-color: var(--bg-card);
  border-radius: var(--bradius-secondary);
}

.sticker-title {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
}

.auction-promo__sticker-title {
  margin-bottom: 34px;
  font-weight: 400;
}

.auction-promo__bet-wrapper {
  display: flex;
  margin-bottom: 31px;
}

.auction-promo__bet {
  display: flex;
  flex-direction: column;
  padding: 32px;
  width: 296px;
  margin-right: var(--primary-gap);
  background-color: var(--bg-card);
  border-radius: var(--bradius-primery);
}

.auction-promo__bet-caption {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-weight: 700;
}

.auction-promo__bet-price {
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
}

.auction-promo__bet-dollar {
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: var(--form-text-color);
}

.countdown {
  flex-grow: 1;
  max-width: 460px;
  padding: 32px;
  padding-top: 33px;
  color: var(--light-bg-color);
  background-color: var(--dark-bg-color);
  border-radius: var(--bradius-primery);
  background-image: url("../img/clock.svg");
  background-position: calc(100% - var(--primary-gap)) center;
  background-size: 121px 121px;
  background-repeat: no-repeat;
}

.countdown__caption {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-weight: 700;
}

.countdown__content {
  display: flex;
  align-items: center;
}

.countdown__part{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown__part:not(:last-child){
  margin-right: 27px;
}

.countdown__time {
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
}

.countdown__datails {
  font-weight: 700;
}

.auction-promo__btn {
  padding: 25px 74px;
}

/* auctions-catalogue section */
.auctions__title {
  margin-bottom: var(--primary-gap);
}

.auctions__list {
  display: flex;
  flex-wrap: wrap;
}

.auctions__item:not(:nth-child(4n)) {
  margin-right: var(--primary-gap);
}

.auctions__item {
  margin-bottom: var(--primary-gap);
}

.auction {
  display: flex;
  flex-direction: column;
}

.auctions__card  {
  width: 296px;
}

.auction__img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  background-color: var(--bg-card);
  border-radius: var(--bradius-primery) var(--bradius-primery) 0 0;
}

.auction__description {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 33px 16px;
  background-color: var(--dark-bg-color);
  border-radius: 0 0 var(--bradius-primery) var(--bradius-primery);
}

.auction__onwer {
  margin-bottom: 17px;
  color: var(--light-bg-color);
}

.auction__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 20px;
  color: var(--light-bg-color);
}

.auction__price {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: var(--primary-btn-color);
}

.auction__countdown {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: var(--form-text-color);
}

.auctions__btn {
  margin: 0 auto;
}

.auctions__btn .btn__text {
  padding: 20px 76px;
}

/* new stikeckes, swiper */
.new {
  margin-bottom: 0;
  padding: 90px 0;
  background-color: var(--dark-bg-color);
}

.new__title {
  position: relative;
  padding-left: 64px;
  color: var(--light-bg-color);
  background-size: 48px 48px;
  background-image: url("../img/fire.png");
  background-repeat: no-repeat;
  background-position: left top 7px;
}

.new__slider {
  width: 100%;
  overflow: hidden;
}

.new__stickers {
  display: flex;
}

.new__sticker:not(:last-child) {
  margin-right: 28px;
}

.swiper-wrapper {
  margin-bottom: 64px;
}

.swiper-pagination {
  position: initial;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet  {
  margin: 0;
  margin-right: 20px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:last-child,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:last-child {
  margin: 0;
}

.swiper-pagination-bullet {
  padding: 8px 21px;
  height: auto;
  width: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: var(--light-bg-color);
  background-color: transparent;
  border: 2px solid var(--accent-bg-color);
  border-radius: var(--bradius-primery);
  opacity: 1;
  transition: background-color var(--primary-transition), border-color var(--primary-transition);
}

.swiper-pagination-bullet-active {
  padding: 8px 21px;
  color: var(--light-bg-color);
  background-color: var(--accent-bg-color);
  transition: background-color var(--primary-transition), border-color var(--primary-transition);
}

.swiper-pagination-bullet:focus-visible,
.swiper-pagination-bullet:hover {
  outline: none;
  background-color: var(--accent-seconary-color);
  border-color: var(--accent-seconary-color);
}

.swiper-pagination-bullet-active:focus-visible,
.swiper-pagination-bullet-active:hover {
  outline: none;
  background-color: var(--accent-seconary-color);
  border-color: var(--accent-seconary-color);
}

/* subsribe */
.subscribe {
  background-color: var(--accent-bg-color);
}

.subscribe-container {
  padding: 32px 12px 33px;
  background-image: url("../img/subscribe-img.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) center;
}

.subscribe__title {
  margin-bottom: var(--primary-gap);
  color: var(--light-bg-color);
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 460px;
}

.subscribe-form__input {
  margin-bottom: var(--seconary-gap);
}

.subscribe-form__btn {
  padding:  25px 86px;
  margin-bottom: var(--seconary-gap);
}

.checkbox {
  position: relative;
  user-select: none;
  line-height: 0;
}

.form-checkbox {
  position: absolute;
  opacity: 0;
}

.checkbox__text {
  position: relative;
  border: 1px solid transparent;
  padding-left: 21px;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
}

.checkbox__text::before {
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  width: 14px;
  height: 14px;
  border: 1px solid currentColor;
}

.checkbox__text::after {
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  width: 14px;
  height: 14px;
  background-image: url("../img/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.form-checkbox:checked + .checkbox__text::after {
  opacity: 1;
}

.subscribe-form__agreement-text {
  color: var(--light-bg-color);
}

/* get-a.get-author section */
.get-author {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 85px;
}

.get-author__content {
  width: calc(50% - (var(--primary-gap)) / 2);
  margin-right: var(--primary-gap);
}

.get-author__title {
  margin-bottom: var(--seconary-gap);
}

.get-author__subtitle {
 padding-right: 100px ;
}

.get-author__text {
  margin-bottom: var(--primary-gap);
}

.get-author-form {
  width: calc(50% - (var(--primary-gap)) / 2);
  padding-top: 10px;
}

.get-author-form__input {
  margin-bottom: var(--primary-gap);
}

.get-author-form__btn {
  align-self: start;
  padding: 25px 96px;
}

/* top-sales section */
.top-sales {
  padding: 90px 0 58px;
  margin-bottom: 0;
  background-color: var(--dark-bg-color);
}

.top-sales__title {
  color: var(--light-bg-color);
}

.top-sales__list {
  display: flex;
  flex-wrap: wrap;
}

.top-sales__item {
  width: calc(50% - (var(--primary-gap)/2));
  margin-right: var(--primary-gap);
  margin-bottom: 31px;
}

.top-sales__item:nth-child(2n) {
  margin-right: 0;
}

.top-sales-card {
  display: flex;
}

.top-sales-card__img {
  width: 142px;
  padding: 17px 0;
  overflow: hidden;
  background-color: var(--bg-card);
  border-top-left-radius: var(--bradius-primery);
  border-bottom-left-radius: var(--bradius-primery);
}

.top-sales-card__img img {
  width: 141px;
  height: 141px;
  overflow: hidden;
  transform: translate(16px, -1px);
}

.top-sales-card__desription {
  display: flex;
  flex-direction: column;
  padding: var(--primary-gap);
  width: calc(100% - 142px);
  background-color: var(--light-bg-color);
  border-top-right-radius: var(--bradius-primery);
  border-bottom-right-radius: var(--bradius-primery);
}

.top-sales-card__onwer  {
  margin-bottom: 9px;
}

.top-sales-card__title  {
  margin-bottom: 10px;
}

.top-sales-card__price {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

/* top info block */

.top-info {
  padding: var(--primary-gap);
  color: var(--light-bg-color);
  background-color: var(--bg-aside);
}

.top-info__container {
  background-image: url("../img/top-imfo-bg.png");
  background-size: 460px 160px;
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) center;
}

.top-info__title {
  margin: 0;
  font-family: 'Muller';
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: var(--seconary-gap);
}

.top-info__item {
  padding-left: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  background-position: left center;
  background-repeat: no-repeat;
}

.top-info__item:not(:last-child) {
  margin-bottom: var(--seconary-gap);
}

/* footer */

.footer__info {
  padding: 20px 0;
  background-color: var(--primary-btn-color);
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo {
  width: 100px;
  height: 40px;
}

.footer-nav__link:not(:last-child) {
  margin-right: var(--primary-gap);
}

.footer__copiright {
  padding: 8px 0;
  line-height: 0;
  text-align: center;
  background-color: var(--dark-bg-color);
}

.footer__copiright-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--light-bg-color);
}
