@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:  local('Muller'),
        local('Muller Regular'),
        url("../fonts/MullerRegular.woff2") format("woff2"),
        url("../fonts/MullerRegular.woff") format("woff");
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:  local('Muller'),
        local('Muller Bold'),
        url("../fonts/MullerBold.woff2") format("woff2"),
        url("../fonts/MullerBold.woff") format("woff");
}

@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:  local('Russo One'),
        url("../fonts/RussoOne-Regular.woff2") format("woff2"),
        url("../fonts/RussoOne-Regular.woff") format("woff");
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --light-bg-color: #ffffff;
  --dark-bg-color: #07060B;
  --accent-bg-color: #D13130;
  --accent-seconary-color: #FF6F6F;;
  --bg-card: #EDEDF2;
  --bg-aside: #37373E;
  --primary-btn-color: #46F4DB;
  --primary-btn-active-color: #57D272;
  --btn-gradient: linear-gradient(180deg, #46F4DB 27.08%, #57D272 100%);
  --form-text-color: #95959D;
  --form-input-text: #717178;
  --bradius-primery: 40px;
  --bradius-secondary: 23px;
  --btn-primary-border: 5px solid #46F4DB;
  --primary-transition: 0.3s ease-in-out;
  --primary-gap: 32px;

}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0 );
}

.clear-fix {
  font-weight: 0;
  line-height: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  line-height: 0;
  list-style: none;
}

body {
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--dark-bg-color);
  background-color: var(--light-bg-color);
}

.container {
  margin: 0 auto;
  padding: 0 12px;
  max-width: 1304px;
}

.btn-reset {
  display: inline-block;
  font: inherit;
  color: inherit;
  padding: 0;
  border: none;
  cursor: pointer;
}

.btn {
  position: relative;
  display: inline-block;
  font: inherit;
  cursor: pointer;
  font-weight: 700;
  padding: 25px 54px;
  border: none;
  outline: none;
  border-radius: var(--bradius-primery);
}

.btn::after {
  content: "";
  position: absolute;
  left: -6px;
  top: -6px;
  border: 2px solid var(--primary-btn-active-color);
  border-radius: var(--bradius-primery);
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  opacity: 0;
}

.btn--primary {
  padding: 25px 74px;
  background: var(--primary-btn-color);
}

.btn--primary--accent {
  padding: 25px 54px;
  background: var(--btn-gradient);
}

.btn--secondary{
  padding: 20px 49px;
  background-color: transparent;
  border: var(--btn-primary-border);
}

.btn--secondary--accent {
  color: var(--light-bg-color);
}

.btn--additional {
  padding: 17px 31.5px;
  font-size: 16px;
  line-height: 16px;
  color: var(--light-bg-color);
  background: var(--dark-bg-color);
  border-radius: 77px;
}

.btn:focus::after {
  opacity: 1;
}

.btn--primary:hover {
  background: var(--btn-gradient);
}

.btn--primary--accent:hover,
.btn--additional:hover,
.btn--secondary:hover {
  color: var(--dark-bg-color);
  background: var(--primary-btn-color);
}

.btn--secondary--accent:hover {
  color: var(--dark-bg-color);
  padding: 25px 54px;
  border: none;
  background: var(--btn-gradient);
}

.btn:active {
  color: var(--dark-bg-color);
  background: var(--primary-btn-active-color);
  border: none;
}

.btn--secondary:active {
  padding: 25px 54px;
}

.auctions-catalogue__btn:active {
  padding: 25px 80px;
}

.slider-btn {
  padding: 8px 21px;
  font-size: 16px;
  line-height: 16px;
  color: var(--light-bg-color);
  background-color: transparent;
  border: 2px solid var(--accent-bg-color);
  border-radius: var(--bradius-primery);
}

.slider-btn:hover {
  padding: 10px 23px;
  background: var(--accent-seconary-color);
  border: none;
}

.slider-btn--active,
.slider-btn:active {
  color: var(--light-bg-color);
  background-color: var(--accent-bg-color);
}

.auctions-catalogue__btn {
  padding: 20px 75px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 32px;
}

.nav-link {
  font-weight: 700;
  transiaion: color var(--primary-transition);
}

.page-section {
  margin-bottom: 90px;
}

.sticker-onwer {
  display: inline-flex;
  align-items: center;
}

.userpic {
  overflow: hidden;
  border-radius: 100%;
}

.userpic--middle {
  width: 48px;
  height: 48px;
}

.userpic--small {
  width: 24px;
  height: 24px;
}

.sticker-onwer__img--middle {
  margin-right: calc(var(--primary-gap)/2);
}

.sticker-onwer__img--small {
  margin-right: calc(var(--primary-gap)/4);
}

.username {
  padding: 0;
  margin: 0;
  font-weight: 700;
}

.username--middle {
  font-size: 20px;
  line-height: 20px;
}

.username--small {
  font-size: 16px;
  line-height: 16px;
}

.page-section__title {
  margin: 0;
  padding: 0;
  margin-bottom: var(--primary-gap);
  font-family: 'Russo One', sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 1.2;
}

/* header */
.header {
  padding: 15px 0;
  background-color: var(--light-bg-color);
}

.header__container {
  display: flex;
  align-items: center;
}

.logo__link {
  font-weight: 0;
  line-height: 0;
}

.header__logo {
  margin-right: 64px;
}

.header__nav {
  margin-right: auto;
}

.main-nav__link:focus {
  outline: 2px solid var(--primary-btn-active-color);
  outline-offset: 6px;
}

.main-nav__link:hover {
  color: var(--primary-btn-color);
}

.main-nav__link:active {
  color: var(--primary-btn-active-color);
}

/* hero section */
.hero {
  height: 680px;
  background-color: var(--dark-bg-color);
  background-image: url(../img/stickers_hero.png);
  background-repeat: no-repeat;
  background-position: top right;
}

.hero__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__description {
  width: 50%;
  align-self: start;
}

.hero__title {
  margin-bottom: 36px;
  font-size: 70px;
  line-height: 84px;
  color: var(--light-bg-color);
}

.hero__buttons{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hero__btn {
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  margin-right: var(--primary-gap);
}

.hero__btn:not(:last-child) {
  margin-right: var(--primary-gap);
}

/* auction  section */
.auction-promo__title {
  display: inline-flex;
  align-items: center;
}

.auction-promo__title-status {
  display: inline-flex;
  align-items: center;
  padding: 8px 15px;
  padding-left: 13px;
  font-family: 'Muller', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: var(--accent-bg-color);
  border: 2px solid currentColor;
  border-radius: var(--bradius-primery);
  transform: translateX(16px);
}

.auction-promo__title-status::before {
  content: "";
  border-radius: 100%;
  margin-right: 7px;
  width: 6px;
  height: 6px;
  background-color: currentColor;
}

.auction-promo__content {
  display: flex;
}


.auction-promo__img {
  min-width: 460px;
  margin-right: var(--primary-gap);
}

.auction-promo__desription {
  width: calc(100% - 460px - var(--primary-gap));
}

.auction-promo__onwer {
  padding: 11px 16px;
  margin-bottom: var(--primary-gap);
  background-color: var(--bg-card);
  border-radius: var(--bradius-secondary);
}

.auction-promo-sticker__title {
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
}

.auction-promo__bet-wrapper {
  display: flex;
  margin-bottom: var(--primary-gap);
}

.auction-promo__bet {
  display: flex;
  flex-direction: column;
  padding: 32px;
  width: 296px;
  margin-right: var(--primary-gap);
  background-color: var(--bg-card);
  border-radius: var(--bradius-primery);
}

.auction-bet__caption {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-weight: 700;
}

.auction-bet__price {
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
}

.auction-bet__dollar-price {
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: var(--form-text-color);
}

.countdown {
  flex-grow: 1;
  max-width: 460px;
  padding: 32px;
  padding-top: 33px;
  color: var(--light-bg-color);
  background-color: var(--dark-bg-color);
  border-radius: var(--bradius-primery);
  background-image: url("../img/clock.svg");
  background-position: calc(100% - var(--primary-gap)) center;
  background-size: 121px 121px;
  background-repeat: no-repeat;
}

.countdown__caption {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-weight: 700;
}

.countdown__content {
  display: flex;
  align-items: center;
}

.countdown__part{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.countdown__part:not(:last-child){
  margin-right: 27px;
}

.countdown__time {
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
}

.countdown__datails {
  font-weight: 700;
}
