html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0 );
}

.clear-fix {
  font-weight: 0;
  line-height: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1280px;
}
