@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat"),
        local("Montserrat Regular"),
        url("../fonts/Montserrat-Regular.woff2") format("woff2"),
        url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat"),
        local("Montserrat Medium"),
        url("../fonts/Montserrat-Medium.woff2") format("woff2"),
        url("../fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat"),
        local("Montserrat SemiBold"),
        url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
        url("../fonts/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat"),
        local("Montserrat Bold"),
        url("../fonts/Montserrat-Bold.woff2") format("woff2"),
        url("../fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat"),
        local("Montserrat ExtraBold"),
        url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
        url("../fonts/Montserrat-ExtraBold.woff") format("woff");
}

:root {
  --basic-dark: #333;
  --basic-light: #fff;
  --basic-invert: #cacaca;
  --text-hint: #adadad;
  --basic-accent: #ff9900;
  --basic-hover: rgba(255, 153, 0, 0.7);
  --basic-active: #e1670e;
  --bg-light:  #e5e5e5;
  --bg-dark: #222;
  --bg-dark-primery: #414141;
  --bg-dark-secondary: #666;
  --bg-basic-social: #7c7c7c;
  --bg-underline: #dcdcdc;
  --bg-decorative: #ececec;
  --bg-img: #3b4c7c;
  --basic-checked: #97ee3f;
  --basic-gap: 32px;
}


.page {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page-body {
  min-width: 1800px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--basic-dark);
  background-color: var(--basic-light);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1800px;
  overflow: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.clear-fix {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo__img--primary {
  fill: black;
}

.basic-text,
.main-title,
.primery-title,
.secondary-title,
.subject {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

.basic-text {
  margin-bottom: 8px;
}

.main-title {
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
}

.primery-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

.secondary-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 8px;
}

.subject {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 8px;
}

.page-section {
  margin-bottom: 100px;
}

.btn {
  display: inline-block;
  padding: 20px 38px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  color: var(--basic-light);
  background-color: var(--basic-accent);
  border: none;
  outline: none;
  cursor: pointer;
}

.btn--accent {
  padding: 19px 37px;
  font-weight: 400;
  color: inherit;
  background-color: transparent;
  border: 1px solid var(--basic-dark);
}

.btn--secondary {
  background-color: transparent;
  border: 3px solid var(--basic-accent);
}

/* header */
.main-header {
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: var(--basic-light);
  z-index: 1000;
}

.page-main {
  padding-top: 100px;
}

.shadow {
  box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.25);
}

.main-header__container {
  position: relative;
  padding-top: 14px;
  padding-bottom: 14px;
  left: -1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.main-nav__list {
  display: flex;
  align-items: center;
}

.main-nav__item {
  margin-right: 85px;
}

.main-nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-dark);
}

.search-icon {
  fill: var(--basic-light);
  stroke: var(--basic-dark);
}

/* hero section */
.swiper-container {
  box-sizing: content-box;
  position: relative;
  overflow: hidden;
  background-color: var(--bg-img);
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 30px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child),
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
  margin-right: 20px;
}

.hero__swiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: var(--basic-light);
  opacity: 0.4;
}

.hero__swiper .swiper-pagination-bullet-active {
  opacity: 1;
}

.hero__content {
  position: absolute;
  content: "";
  z-index: 11;
}

.hero-content {
  display: flex;
  flex-direction: column;
  max-width: 55%;
  height: 520px;
  padding-top: 100px;
  padding-left: 80px;
  color: var(--basic-light);
}

.hero__title {
  margin-bottom: 24px;
}

.hero__btn {
  align-self: flex-start;
  min-width: 280px;
  min-height: 78px;
  margin-top: auto;
  padding: 25px 37px;
  font-size: 23px;
  line-height: 29px;
}

/* about section */
.about__title {
  padding-left: 2px;
  margin-bottom: 20px;
}

.about__text {
  max-width: 1235px;
  margin-bottom: 50px;
}

.about__features {
  display: flex;
}

.about-features__img-container {
  position: relative;
  content: "";
  margin-right: var(--basic-gap);
}

.about-features__img {
  overflow: hidden;
  background-color: var(--bg-img);
}

.about-features__excerpt {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 868px;
  background-color: rgba(0, 0, 0, 0.5);
}

.about-features__excerpt {
  display: flex;
  padding: 50px;
  align-items: center;
  justify-content: space-between;
}

.about-features-excerpt__text {
  width: 60%;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--basic-light);
}

.about-features-excerpt__link {
  font-size: 15px;
  line-height: 15px;
}

.about-features__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-features__content {
  width: 870px;
  max-height: 295px;
  padding: 65px 60px 65px 300px;
  border: 1px solid var(--basic-invert);
  background-repeat: no-repeat;
  background-position: top 64px left 60px;
}

.about-features--decor-1 {
  background-image: url("../img/decorative/pavkage.svg");
}

.about-features--decor-2 {
  background-image: url("../img/decorative/gear.svg");
}

.about-features__text {
  max-width: 450px;
}

/* stages section */

.stages__title {
  margin-bottom: 46px;
}

.stages-tabs__nav-list {
  display: flex;
  width: 458px;
  margin-bottom: 40px;
  justify-content: space-between;
  align-items: center;
}

.stages-tabs__btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.stages-tabs__btn--active {
  color: var(--basic-active);
}

.stages__tab-item {
  display: none;
}

.stages__tab-item--active {
  display: block;
}

.stages-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.stages__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  min-height: 460px;
}

.stages__img {
  align-self: flex-end;
}

.stages__text-container {
  width: 758px;
  height: 320px;
  margin-bottom: 50px;
}

.stages__link:not(:last-child) {
  margin-right: 29px;
}
