@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat"),
        local("Montserrat Regular"),
        url("../fonts/Montserrat-Regular.woff2") format("woff2"),
        url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat"),
        local("Montserrat Medium"),
        url("../fonts/Montserrat-Medium.woff2") format("woff2"),
        url("../fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat"),
        local("Montserrat SemiBold"),
        url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
        url("../fonts/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat"),
        local("Montserrat Bold"),
        url("../fonts/Montserrat-Bold.woff2") format("woff2"),
        url("../fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat"),
        local("Montserrat ExtraBold"),
        url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
        url("../fonts/Montserrat-ExtraBold.woff") format("woff");
}

:root {
  --basic-dark: #333;
  --basic-light: #fff;
  --basic-invert: #cacaca;
  --text-hint: #adadad;
  --basic-accent: #ff9900;
  --basic-hover: rgba(255, 153, 0, 0.7);
  --basic-active: #e1670e;
  --bg-light:  #e5e5e5;
  --bg-dark: #222;
  --bg-dark-primery: #414141;
  --bg-dark-secondary: #666;
  --bg-basic-social: #7c7c7c;
  --bg-underline: #dcdcdc;
  --bg-decorative: #ececec;
  --bg-img: #3b4c7c;
  --basic-checked: #97ee3f;
  --basic-gap: 32px;
  --super-fast-transition: .2s ease-in;
  --fast-transition: .3s ease-in-out;
  --medium-transition: .5s ease-in-out;
}

.page {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus-visible {
  outline: 1px solid var(--basic-accent);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page-body {
  min-width: 1800px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--basic-dark);
  background-color: var(--basic-light);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1800px;
  overflow: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.clear-fix {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo__img {
  fill: var(--basic-light);
}

.logo__img--primary {
  fill: #000;
}

.basic-text,
.main-title,
.primery-title,
.secondary-title,
.subject {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

.basic-text {
  margin-bottom: 8px;
}

.main-title {
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
}

.primery-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

.secondary-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 8px;
}

.subject {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 8px;
}

.page-section {
  margin-bottom: 100px;
}

.btn {
  display: inline-block;
  padding: 20px 38px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  color: var(--basic-light);
  background-color: var(--basic-accent);
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color var(--fast-transition);
}

.btn--accent {
  padding: 19px 37px;
  font-weight: 400;
  color: var(--bg-dark);
  background-color: transparent;
  border: 1px solid var(--basic-dark);
  transition: color var(--medium-transition), background-color var(--medium-transition);
}


.btn--secondary {
  background-color: transparent;
  border: 3px solid var(--basic-accent);
  transition: background-color var(--medium-transition), border var(--fast-transition);
}

.btn:focus,
.btn:hover {
  outline: none;
  background-color: var(--basic-hover);
  transition: background-color var(--fast-transition);
}

.btn:active {
  background-color: var(--basic-active);
  transition: background-color var(--fast-transition);
}

.btn--secondary:focus,
.btn--secondary:hover {
  background-color: var(--basic-accent);
  transition: background-color var(--fast-transition);
}

.btn--secondary:active {
  border-color: var(--basic-active);
  background-color: var(--basic-active);
  transition: background-color var(--fast-transition), border-color var(--fast-transition);
}

.btn--accent:focus,
.btn--accent:hover {
  color: var(--basic-light);
  border-color: var(--bg-dark-secondary);
  background-color: var(--bg-dark-secondary);
  transition: color var(--fast-transition), background-color var(--medium-transition);
}

.btn--accent:active {
  color: var(--basic-light);
  border-color: var(--bg-dark);
  background-color: var(--bg-dark);
  transition: color var(--fast-transition), background-color var(--fast-transition);
}

/* header */
.main-header {
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: var(--basic-light);
  opacity: 0.97;
  z-index: 1000;
}

.page-main {
  padding-top: 100px;
}

.shadow {
  box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.25);
}

.main-header__container {
  position: relative;
  padding-top: 14px;
  padding-bottom: 14px;
  left: -1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.main-nav {
  display: inline-flex;
  flex-shrink: 2;
}

.main-nav__list {
  display: flex;
  flex-shrink: 3;
  align-items: center;
  margin-right: 109px;
}

.main-nav__item:not(:last-child) {
  margin-right: 85px;
}

.main-nav__link {
  display: inline-block;
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-dark);
  transition: opacity var(--fast-transition);
}

.main-nav__link::before {
  position: absolute;
  content: "";
  left: -5px;
  top: -5px;
  right: -5px;
  bottom: -5px;
  border: 2px solid var(--basic-accent);
  opacity: 0;
  transition: opacity var(--fast-transition);
}

.main-nav__link::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -7px;;
  width: 100%;
  height: 2px;
  background-color: var(--basic-accent);
  transform: scaleX(0);
  transition: transform var(--super-fast-transition);
}

.main-nav__link:focus {
  outline: none;
}

.main-nav__link:focus-visible::before {
 opacity: 1;
}

.main-nav__link:hover::after {
  transform: scaleX(1);
}

.main-nav__link:active {
  border: none;
  color: var(--basic-active);
}

.main-nav__link:active::before {
  opacity: 0;
}

.main-nav__link:active::after {
  border: none;
  border-bottom: 2px solid var(--basic-active);
  opacity: 1;
}

.search-form__label {
  display: none;
}

.search-form__btn--open-ico {
  position: relative;
}

.search-form__btn--open-ico::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  top: 3px;
  right: 0;
  background-repeat: no-repeat;
  background-position: center left;
  background-image: url("../img/decorative/search.svg");
  transition: background-image var(--fast-transition);
}

.search-form__btn--open-ico:hover::after {
  background-image: url("../img/decorative/search-hover.svg");
}

.search-ico {
  fill: #999;
}
.search-form {
  display: none;
  position: relative;
  width: 539px;
  height: 60px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
}

.search-form--active {
 display: block;
}

.search-form__input {
  padding: 0;
  position: relative;
  content: "";
  width: 412px;
  height: 20px;
  left: 32px;
  top: 16px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--bg-dark-primery);
}

.search-form__input:focus {
  outline: none;
}

.search-form::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 412px;
  background-color: var(--bg-underline);
  left: 32px;
  bottom: 16px;
}

.search-form__input::placeholder {
  position: absolute;
  content: "";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--text-hint);
}

.search-form__ico {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  top: 18px;
  background-repeat: no-repeat;
  background-position: center left;
  transition: background-image var(--medium-transition);
}

.search-form__ico::before {
  position: absolute;
  content: "";
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border: 2px solid var(--basic-accent);
  opacity: 0;
  transition: opacity var(--fast-transition);
}

.search-form__ico--submit {
  right: 58px;
  top: 19px;
  background-image: url("../img/decorative/search-hover.svg");
}

.search-form__ico--close {
  right: 14px;
  background-image: url("../img/decorative/closed_search.svg");
}

.search-form__ico:focus-visible {
  outline: none;
}

.search-form__ico:focus-visible::before {
  opacity: 1;
}

.search-form__ico--close:hover {
  background-image: url("../img/decorative/closed_search_hover.svg");
}

/* hero section */
.swiper-container {
  box-sizing: content-box;
  position: relative;
  overflow: hidden;
  background-color: var(--bg-img);
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 30px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child),
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
  margin-right: 20px;
}

.hero__swiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: var(--basic-light);
  opacity: 0.4;
}

.hero__swiper .swiper-pagination-bullet-active {
  opacity: 1;
}
.swiper-pagination-bullet:focus-visible {
  outline: 1px solid var(--basic-accent);
}

.hero__content {
  position: absolute;
  content: "";
  z-index: 11;
}

.hero-content {
  display: flex;
  flex-direction: column;
  max-width: 55%;
  height: 520px;
  padding-top: 100px;
  padding-left: 80px;
  color: var(--basic-light);
}

.hero__title {
  margin-bottom: 24px;
}

.hero__btn {
  align-self: flex-start;
  min-width: 280px;
  min-height: 78px;
  margin-top: auto;
  padding: 25px 37px;
  font-size: 23px;
  line-height: 29px;
}

/* about section */
.about__title {
  padding-left: 2px;
  margin-bottom: 20px;
}

.about__text {
  max-width: 1235px;
  margin-bottom: 50px;
}

.about__features {
  display: flex;
}

.about-features__img-container {
  position: relative;
  content: "";
  margin-right: var(--basic-gap);
}

.about-features__img {
  overflow: hidden;
  background-color: var(--bg-img);
}

.about-features__excerpt {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 868px;
  background-color: rgba(0, 0, 0, 0.5);
}

.about-features__excerpt {
  display: flex;
  padding: 50px;
  align-items: center;
  justify-content: space-between;
}

.about-features-excerpt__text {
  width: 60%;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--basic-light);
}

.about-features-excerpt__link {
  font-size: 15px;
  line-height: 15px;
}

.about-features__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-features__content {
  width: 870px;
  max-height: 295px;
  padding: 65px 60px 65px 299px;
  border: 1px solid var(--basic-invert);
  background-repeat: no-repeat;
  background-position: top 64px left 58px;
}

.about-features--decor-1 {
  background-image: url("../img/decorative/package.svg");
}

.about-features--decor-2 {
  background-image: url("../img/decorative/gear.svg");
}

.about-features__text {
  max-width: 450px;
}

/* stages section */
.stages__title {
  margin-bottom: 46px;
}

.stages-tabs__nav-list {
  display: flex;
  width: 458px;
  margin-bottom: 40px;
  justify-content: space-between;
  align-items: center;
}

.stages-tabs__btn {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.stages-tabs__btn:focus-visible {
  outline: 0;
}

.stages-tabs__btn::before {
  position: absolute;
  content: "";
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border: 2px solid var(--basic-accent);
  opacity: 0;
  transition: opacity var(--fast-transition);
}
.stages-tabs__btn:hover {
  color: var(--basic-accent);
}

.stages-tabs__btn--active,
.stages-tabs__btn:active {
  color: var(--basic-active);
}

.stages-tabs__btn:focus-visible::before{
  opacity: 1;
}

.stages__tab-item {
  display: none;
}

.stages__tab-item--active {
  display: block;
}

.stages-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.stages__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  min-height: 460px;
}

.stages__img {
  align-self: flex-end;
}

.stages__text-container {
  width: 758px;
  height: 320px;
  margin-bottom: 50px;
}

.stages__link:not(:last-child) {
  margin-right: 29px;
}

/* faq sectiom */

.faq__title {
  margin-bottom: 42px;
}

.faq-accordion {
  display: flex;
  flex-direction: column;
}

.faq-accordion__border {
  border-top: 1px solid var(--basic-invert);
  transition: border var(--fast-transition);
}

.faq-accordion__border:last-child{
  border-bottom: 1px solid var(--basic-invert);
}

.faq-accordion__border--active {
  border-color: var(--basic-accent);
}

.faq-accordion__border--active + .faq-accordion__border {
  border-color:  var(--basic-accent);
}

.faq-accordion__border--active + .faq-accordion__border:last-child {
  border-bottom: 1px solid var(--basic-invert);
}

.faq-accordion__border--active.faq-accordion__border:last-child  {
  border-color:  var(--basic-accent);
}

.ui-accordion .ui-accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin: 0;
  padding: 30px 0;
  font-size: 24px;
  line-height: 32px;
}

.ui-accordion-header {
  font-family: 'Montserrat';
  font-weight: 700;
}

.ui-state-default{
  border: none;
  background: transparent;
  font-weight: 700;
  color: var(--basic-dark);
  transition: color var(--medium-transition);
}

.ui-state-active {
  transition: color var(--medium-transition);
}

.ui-icon {
  display: none;
}

.faq__btn {
  margin-left: auto;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: var(--bg-light);
  border-radius: 50%;
  transition: background-color var(--medium-transition);
}

.faq__btn:before,
.faq__btn:after {
  position: absolute;
  content: "";
  top: 25px;
  left: 10px;
  width: 31px;
  height: 1px;
  background-color: var(--bg-dark-secondary);
  transition: background-color var(--medium-transition);
}

.faq__btn:before {
  transform: rotate(90deg);
}

.faq__btn:after {
  transform: rotate(180deg);
}

.ui-state-active .faq__btn:before {
  transform: rotate(45deg);
}

.ui-state-active .faq__btn:after {
  transform: rotate(-45deg);
}

.ui-accordion .ui-accordion-content {
  max-width: 1005px;
  padding: 0;
  border: 0;
  overflow: auto;
}

.ui-helper-reset {
  line-height: 32px;
}

.ui-widget {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
}

.faq-accordion__text {
  margin: 0;
  margin-bottom: 16px;
}

.faq-accordion__text:last-child {
  margin-bottom: 40px;
}

.faq__text-accent {
  color: var(--basic-invert);
  margin: 0 6px 0 7px;
}

.ui-state-focus {
  outline-color: transparent;
}

.ui-accordion-header:hover {
  color: var(--basic-accent);
}

.ui-accordion-header:hover .faq__btn {
  background-color: var(--basic-accent);
}

.ui-accordion-header:hover .faq__btn::before,
.ui-accordion-header:hover .faq__btn::after {
  background-color: var(--basic-light);
  transition: background-color var(--medium-transition);
}

.ui-accordion  .faq-accordion__item  > .ui-accordion-header:hover {
  border-color: var(--basic-accent);
  transition: border-color var(--medium-transition);
}

/* footer  */
.page-footer {
  color: var(--basic-invert);
  background-color: var(--bg-dark);
}

.footer__container {
  display: flex;
  justify-content: flex-start;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__navigation {
  margin-right: 351px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-nav {
  margin-bottom: 90px;
}

.footer-nav__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: var(--basic-invert);
  transition: color var(--fast-transition);
}

.footer-nav__link::before {
  position: absolute;
  content: "";
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border: 2px solid var(--basic-accent);
  opacity: 0;
}

.footer-nav__link:focus {
  outline: none;
}
.footer-nav__link:focus-visible::before {
  opacity: 1;
}

.footer-nav__link:hover {
  color: var(--basic-accent);
}

.footer-nav__link:active {
  color: var(--basic-active);
}

.social__list {
  display: flex;
}

.social__item:not(:last-of-type) {
  margin-right: 25px;
}

.social__link {
  position: relative;
  fill: var(--bg-basic-social);
  transition: fill var(--fast-transition);
}

.social__link::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 70px;
  top: -50px;
  right: -5px;
  border: 2px solid var(--basic-accent);
  opacity: 0;
}

.social__link:focus {
  outline: none;
}

.social__link:focus-visible::before {
  opacity: 1;
}

.social__link:hover {
  fill: var(--basic-accent);
}

.social__link:active {
  fill: var(--basic-active);
}

.footer__form {
  margin-right: auto;
}

.footer-form__title {
  margin-bottom: 25px;
}

.footer-form__container {
  width: 570px;
}

.footer-form__textarea {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  border: none;
}

.form__input {
  margin: 0;
  padding: 14px 24px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  border: none;
}

.footer-form__input {
  color: var(--basic-invert);
  background-color: var(--bg-dark-primery);
}

.footer-form__input:focus,
.footer-form__input:hover {
  outline: none;
  background-color: var(--bg-dark-secondary);
}

.footer-form__input:active {
  color: var(--basic-light);
  background-color: var(--bg-dark-secondary);
}

input::placeholder {
  color: var(--basic-invert);
}

textarea::placeholder {
  color: var(--basic-invert);
}

.form__field {
  margin-bottom: 25px;
}

.footer-form__textarea {
  height: 150px;
}

.form__fields-group {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  padding-top: 7px;
}

.footer-form__btn {
  padding: 19px 52px ;
  margin-right: 22px;
}

.form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__checkbox + .form__label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  padding-top: 3px;
}

.form__checkbox + .form__label::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--basic-invert);
  margin-right: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.form__checkbox:checked + .form__label::before {
  background-image: url("../img/decorative/check.svg");
}

.footer__text {
  display: flex;
  justify-content: center;
}

.footer-text__container {
  align-self: center;
  width: 363px;
}
